<div class="container">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %>
  <%= @restaurant.phone_number %>
  <%= @restaurant.category %></p>

<%= link_to "See all restaurants", restaurants_path %>

</div>